*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #000;
  color: #fff;
}
.card {
  width: 320px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 40px auto;
}

.card h1 {
  width:60px ;
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 16px;
  color: #333;
  background-color: #8b86e4;
  padding: 15px;
  border-radius:12px;
  
}

.card button {
  padding: 8px 10px;
  font-size: 12px;
  border: none;
  border-radius: 8px;
  margin: 0 8px;
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.card button:hover {
  background-color: #4338ca;
  transform: scale(1.05);
}
