*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body{
  background-color: black;
  color: white;
}
.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border-radius: 10px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
  background-color:#222;
}
.card img{
  border-radius: 50%;
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.card h2{
  padding: 20px;
  font-size: 20px;
  font-weight: 600;

}
.card p{
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}
.card button{
  padding: 18px;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 500;
}
