*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body{
  background-color: black;
  color: white;
}
.card{
  font-size: 20px;
  color: white;
  background-color: rgb(173, 19, 19); 
  margin: 30px;
  padding: 20px;
  font-weight: 600;
}
.navbar{
  background-color: rgb(6, 96, 96);
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
  margin: 20px;
}