*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: black;
  color: white;
}
input{
  margin-top: 30px;
  margin-left: 20px;
  padding: 12px;
  border: none;
  border-radius: 16px ;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
